@use "../abstract/variable" as var;

body {
    background-color: var.$primarycolor;

    a {
        color: wheat;
    }

    h1 {
        font-size: 42px;
    }    

    .mod {
        color: rgb(88, 167, 88);
    }

    .del {
        color: rgb(168, 65, 65);
    }
}